<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarSocio</servlet-name>
        <servlet-class>Servlet.AgregarSocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaModificacionDePersonasServlet</servlet-name>
        <servlet-class>Servlet.altaModificacionDePersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarTipoCuotaServlet</servlet-name>
        <servlet-class>Servlet.eliminarTipoCuotaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTipoCuotaServlet</servlet-name>
        <servlet-class>Servlet.ListaTipoCuotaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioVistaCuotasServlet</servlet-name>
        <servlet-class>Servlet.UsuarioVistaCuotasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoCuotaServlet</servlet-name>
        <servlet-class>Servlet.AltaTipoCuotaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoSociosServlet</servlet-name>
        <servlet-class>Servlet.listadoSociosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerDetallePagoServlet</servlet-name>
        <servlet-class>Servlet.ObtenerDetallePagoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPagoServlet</servlet-name>
        <servlet-class>Servlet.GenerarPagoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generarPublicacionServlet</servlet-name>
        <servlet-class>Servlet.generarPublicacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administradorPublicacionesServlet</servlet-name>
        <servlet-class>Servlet.administradorPublicacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarDatosServlet</servlet-name>
        <servlet-class>Servlet.cargarDatosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoSociosActividadesServlet</servlet-name>
        <servlet-class>Servlet.listadoSociosActividadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoSociosCuotasPagasServlet</servlet-name>
        <servlet-class>Servlet.listadoSociosCuotasPagasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerMontosDeGananciaCuotasAnualServlet</servlet-name>
        <servlet-class>Servlet.obtenerMontosDeGananciaCuotasAnualServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generarListadoActividadesServlet</servlet-name>
        <servlet-class>Servlet.generarListadoActividadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaSociosPorActividadServlet</servlet-name>
        <servlet-class>Servlet.listaSociosPorActividadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarSocio</servlet-name>
        <url-pattern>/AgregarSocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaModificacionDePersonasServlet</servlet-name>
        <url-pattern>/altaModificacionDePersonasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarTipoCuotaServlet</servlet-name>
        <url-pattern>/eliminarTipoCuotaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTipoCuotaServlet</servlet-name>
        <url-pattern>/ListaTipoCuotaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioVistaCuotasServlet</servlet-name>
        <url-pattern>/UsuarioVistaCuotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoCuotaServlet</servlet-name>
        <url-pattern>/AltaTipoCuota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoSociosServlet</servlet-name>
        <url-pattern>/listadoSocios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerDetallePagoServlet</servlet-name>
        <url-pattern>/ObtenerDetallePago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPagoServlet</servlet-name>
        <url-pattern>/GenerarPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generarPublicacionServlet</servlet-name>
        <url-pattern>/generarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administradorPublicacionesServlet</servlet-name>
        <url-pattern>/administradorPublicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarDatosServlet</servlet-name>
        <url-pattern>/cargarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoSociosActividadesServlet</servlet-name>
        <url-pattern>/listadoSociosActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoSociosCuotasPagasServlet</servlet-name>
        <url-pattern>/listadoSociosCuotasPagas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerMontosDeGananciaCuotasAnualServlet</servlet-name>
        <url-pattern>/obtenerMontosDeGananciaCuotasAnual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generarListadoActividadesServlet</servlet-name>
        <url-pattern>/generarListadoActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaSociosPorActividadServlet</servlet-name>
        <url-pattern>/listaSociosPorActividad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
